In [1]:
import yaml
import json

In [2]:
# with open("test.json",mode="w") as wfp:
#     json.dump(yaml_dict,wfp)

In [3]:
filename="test.yaml"
with open(filename,mode="r") as fr:
    yaml_dict=yaml.load(fr,Loader=yaml.Loader)
#print(yaml_dict)

In [4]:
import pandas as pd
from pandas.io.json import json_normalize

In [5]:
# pd.DataFrame([yaml_dict])

In [6]:
df_01=json_normalize(yaml_dict)
df_01

,key,heartbeat_interval,clouds,projects.awsDetails.secretKey,projects.awsDetails.accessKey,projects.projectList
0,XXXXXXXXX,300,"[{'name': 'Home-Account', 'type': 'aws', 'tags...",XXXXXXXXX,XXXXXXXXX,"[{'name': 'controller_pro', 'applications': [{..."

In [7]:
# df_02=pd.DataFrame(df_01["clouds"][0])
# df_02

In [8]:
# df_01["clouds"].shape[0]==1

# Clouds

In [9]:
df_02=json_normalize(df_01["clouds"][0])
df_02

,name,type,metric,tags.key1,config.secretKey,config.accessKey,config.token
0,Home-Account,aws,"[{'plugin': 'awsBilling', 'enabled': True, 'in...",value1,XXXXXXXXX,XXXXXXXXX,None

In [10]:
df_03=json_normalize(df_02['metric'][0])
df_03

,plugin,enabled,interval,config.bucket,config.folder
0,awsBilling,True,300,snappyflowbilling,Billreport/SnappyflowReport
1,awsInventory,True,300,NaN,NaN

# Project

In [11]:
df_04=pd.DataFrame(df_01["projects.projectList"].values[0])
df_04

              name                                       applications
0   controller_pro  [{'name': 'cat_app1', 'endpoints': [{'name': '...
1  controller_pro2  [{'name': 'cat_app2', 'endpoints': [{'name': '...

In [12]:
#df_051=(df_04[df_04.name=="controller_pro"]["applications"])
#df_04[df_04.name=="controller_pro2"]["applications"]
#list(df_04[df_04.name=="controller_pro"]["applications"])
#pd.DataFrame(df_051)
########################
d1=df_04[df_04.name=="controller_pro"]#["applications"]
d1

             name                                       applications
0  controller_pro  [{'name': 'cat_app1', 'endpoints': [{'name': '...

In [13]:
d1=df_04[df_04.name=="controller_pro"]["applications"]
d1

0    [{'name': 'cat_app1', 'endpoints': [{'name': '...
Name: applications, dtype: object

In [14]:
# #((df_04[df_04.name=="controller_pro2"]["applications"]))
# json_normalize(json_normalize([d1],record_path="applications"))
d2=(d1.values)
pd.DataFrame(d2[0])

       name                                          endpoints
0  cat_app1  [{'name': 'rds_endpoint_test1', 'endpoint_type...

In [15]:
# d3=d1["applications"].values
# d4=json_normalize(d3[0])
# d4

KeyError: 'applications'

In [17]:
# d5=d4["endpoints"].values
# d6=pd.DataFrame(d5[0])
# d6

In [18]:
# d6[d6.name=="elb_2test"]

In [ ]:
# d7=d6["metric"].values
# d8=pd.DataFrame(d7[0])
# d8

In [ ]:
# d9=d8["config"].values
# d10=pd.DataFrame(d9)
# d10
# #json_normalize(d9)

In [ ]:
# df_050=json_normalize(df_04["applications"][1])
# df_050
# df_04["applications"]

# Application

In [19]:
df_05=json_normalize(df_04["applications"][1])
df_05

       name                                          endpoints
0  cat_app2  [{'name': 'rds_endpoint_test2', 'endpoint_type...

In [ ]:
# df_050=pd.DataFrame(df_04[df_04.name=="cat_app"]["applications"].values)
# df_050

In [ ]:
# df_06=json_normalize(df_05["endpoints"][0])
# df_06

In [ ]:
# df_07=json_normalize(df_06["metric"][0])
# df_07

In [ ]:
# df_02=json_normalize([df_01],record_path="projects")
# df_02
# df_03=json_normalize([df_02],record_path="projectList")
# df_03

In [ ]:
# df=pd.io.json.json_normalize(yaml_dict)
# df

In [ ]:
# dict(df["projects.projectList"])

# df2=pd.io.json.json_normalize(df,record_path="projects.projectList")
# df2

In [ ]:
# yaml_dict.keys()

In [ ]:
# yaml_dict['key']="xyz"
# yaml_dict

In [ ]:
# abc=((json.loads(json.dumps((yaml_dict)))))

In [ ]:
# with open("test2.yaml",mode="w") as fw:
#     print(yaml.dump(abc,fw,Dumper=yaml.Dumper,default_flow_style=False))

In [ ]:
# import utils

In [1]:
import os
from main import config_ops
from utils import ControllerYaml,ControllerCloud,ControllerProject,get_nested_dataframes
import pandas as pd
from pandas.io.json import json_normalize
#FILEPATH = (os.path.join(os.path.dirname(__file__),"test.yaml"))
FILEPATH="test.yaml"
print(FILEPATH)
config = config_ops.read_config(FILEPATH)
#print(config)
# c_yaml=ControllerYaml(config)
# print(c_yaml.get_global_key())
# print(c_yaml.get_heartbeat_interval())
# print(c_yaml.get_project_awsdetails_accesskey())
# print(c_yaml.get_project_awsdetails_secretkey())

#control_cloud=ControllerCloud(config)
#print(control_cloud.get_cloud_details())

obj=ControllerProject(config)
df=(obj.get_project())
prj=obj.get_project_name()
#print(prj)
#print(obj.get_application_details(prj[0]))
project=prj[1]

apps=(obj.get_application_names(project))
application=apps[0]
print(project,application)
df=(obj.get_app_endpoints(project,application))
#print(obj.get_endpoint_metric(prj[0],apps[0]))

test.yaml
controller_pro2 cat_app2

In [2]:
df

,name,endpoint_type,config,tags,metric
0,rds_endpoint_test2,rds,"{'region': 'us-west-2', 'instanceName': 'petcl...",{'key1': 'value1'},"[{'plugin': 'cloudwatch-rds', 'enabled': True,..."
1,s3_endpoint_test,s3,"{'region': 'us-west-2', 'instanceName': 'petcl...",{'key1': 'value1'},"[{'plugin': 'cloudwatch-s3', 'interval': 300}]"
2,elb_endpoint_test,elb,"{'region': 'us-west-2', 'instanceName': 'pc-el...",{'key1': 'value1'},"[{'plugin': 'cloudwatch-classic', 'enabled': T..."
3,elb_2test,elb,"{'region': 'us-west-2', 'instanceName': 'a6880...",{'key1': 'value1'},"[{'plugin': 'cloudwatch-network', 'enabled': T..."

In [3]:
end_name=obj.get_endpoint_name(project,application)
endpoint=end_name[0]
end_name

['rds_endpoint_test2', 's3_endpoint_test', 'elb_endpoint_test', 'elb_2test']

In [4]:
obj.get_endpoint_tag(project,application,endpoint)

     key1
0  value1

In [5]:
df_metric=obj.get_endpoint_metric(project,application,endpoint)
df_metric.columns

dict_var={'plugin':"abc", 'enabled':"True", 'interval':"100", 'config.ip':"xx.xx.xx.xx", 'config.username':"abcusername",
       'config.password':"abc123", 'config.documentsTypes':["llb"], 'config.port':"1234"}

In [6]:
df_metric[df_metric.plugin=="postgres"]

,plugin,enabled,interval,config.ip,config.username,config.password,config.documentsTypes,config.port
3,postgres,True,300,database-2.czm0rlpyfodv.us-west-2.rds.amazonaw...,postgres,postgres,"[serverDetails, databaseDetails, tableDetails,...",5432.0

In [7]:
plugins=obj.get_metric_plugin_name(project,application,endpoint)
plugin=plugins[2]
plugins

['cloudwatch-rds', 'cloudwatch-mysqlinsights', 'mysql', 'postgres']

In [8]:
obj.get_metric_plugin_details(project,application,endpoint,plugin)

,plugin,enabled,interval,config.ip,config.username,config.password,config.documentsTypes,config.port
2,mysql,True,300,petclinic-petclinicwebapp-1585204912-database....,XXXXXXXXX,XXXXXXXXX,"[serverDetails, databaseDetails, tableDetails]",NaN

In [9]:
obj.get_endpoint_config(project,application,endpoint)

      region                                   instanceName
0  us-west-2  petclinic-petclinicwebapp-1585204912-database

In [10]:
df_metric=obj.get_endpoint_metric(project,application,endpoint)
df_metric.columns

dict_var={'plugin':"abc", 'enabled':"True", 'interval':"100", 'config.ip':"xx.xx.xx.xx", 'config.username':"abcusername",
       'config.password':"abc123", 'config.documentsTypes':["llb"], 'config.port':"1234"}

In [11]:
df_metric

,plugin,enabled,interval,config.ip,config.username,config.password,config.documentsTypes,config.port
0,cloudwatch-rds,True,300,NaN,NaN,NaN,NaN,NaN
1,cloudwatch-mysqlinsights,True,300,NaN,NaN,NaN,NaN,NaN
2,mysql,True,300,petclinic-petclinicwebapp-1585204912-database....,XXXXXXXXX,XXXXXXXXX,"[serverDetails, databaseDetails, tableDetails]",NaN
3,postgres,True,300,database-2.czm0rlpyfodv.us-west-2.rds.amazonaw...,postgres,postgres,"[serverDetails, databaseDetails, tableDetails,...",5432.0

In [12]:
df_metric.append(pd.DataFrame(dict_var))

,plugin,enabled,interval,config.ip,config.username,config.password,config.documentsTypes,config.port
0,cloudwatch-rds,True,300,NaN,NaN,NaN,NaN,NaN
1,cloudwatch-mysqlinsights,True,300,NaN,NaN,NaN,NaN,NaN
2,mysql,True,300,petclinic-petclinicwebapp-1585204912-database....,XXXXXXXXX,XXXXXXXXX,"[serverDetails, databaseDetails, tableDetails]",NaN
3,postgres,True,300,database-2.czm0rlpyfodv.us-west-2.rds.amazonaw...,postgres,postgres,"[serverDetails, databaseDetails, tableDetails,...",5432
0,abc,True,100,xx.xx.xx.xx,abcusername,abc123,llb,1234

In [13]:
a,b=obj.add_metric(project,application,endpoint,plugin,dict_var)

In [24]:
a

,plugin,enabled,interval,config.ip,config.username,config.password,config.documentsTypes,config.port
0,cloudwatch-rds,True,300,NaN,NaN,NaN,NaN,NaN
1,cloudwatch-mysqlinsights,True,300,NaN,NaN,NaN,NaN,NaN
2,mysql,True,300,petclinic-petclinicwebapp-1585204912-database....,XXXXXXXXX,XXXXXXXXX,"[serverDetails, databaseDetails, tableDetails]",NaN
3,postgres,True,300,database-2.czm0rlpyfodv.us-west-2.rds.amazonaw...,postgres,postgres,"[serverDetails, databaseDetails, tableDetails,...",5432
0,abc,True,100,xx.xx.xx.xx,abcusername,abc123,llb,1234

In [15]:
b

,key,heartbeat_interval,clouds,projects.awsDetails.secretKey,projects.awsDetails.accessKey,projects.projectList
0,XXXXXXXXX,300,"[{'name': 'Home-Account', 'type': 'aws', 'tags...",XXXXXXXXX,XXXXXXXXX,"[{'name': 'controller_pro', 'applications': [{..."

In [20]:
obj1=ControllerProject(b)

In [21]:
isinstance(b,dict)

False

In [23]:
obj1.get_endpoint_metric(project,application,endpoint)

,plugin,enabled,interval,config.ip,config.username,config.password,config.documentsTypes,config.port
0,cloudwatch-rds,True,300,NaN,NaN,NaN,NaN,NaN
1,cloudwatch-mysqlinsights,True,300,NaN,NaN,NaN,NaN,NaN
2,mysql,True,300,petclinic-petclinicwebapp-1585204912-database....,XXXXXXXXX,XXXXXXXXX,"[serverDetails, databaseDetails, tableDetails]",NaN
3,postgres,True,300,database-2.czm0rlpyfodv.us-west-2.rds.amazonaw...,postgres,postgres,"[serverDetails, databaseDetails, tableDetails,...",5432.0